<div class="Main-d">
    <div class="top-d d-inline-r">
        <div class="text ">
            <div class="text-n">
                <h4 class="text-name"> {{profile?.ProfileFirstName}}'s team's presentations</h4>
            </div>
            <div class="content"><p>Everyone on this team can edit presentations.</p></div>
        </div>
        <div class="emp "></div>
        <div class="log ">
            <div  class="log-t">
            <!-- <img src="assets/images/profile.png" class="icon-logo"> -->
            <!-- <button class="btn btn-n w-100">invite</button> -->
        </div>
        </div>
    </div>

    <!-- <div class="cender-d">
        <div class="left-d">
            <div class="new-p">
                        <button data-toggle="modal" data-target="#createNewPresentation"
                            class="btn btn-k text-white px-3 d-inline mr-2">
                            <span class="align-text-bottom mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet"
                                    width="16" height="16" aria-labelledby="descriptive-:r21:" viewBox="0 0 24 24">
                                    <title id="descriptive-:r21:">New</title>
                                    <g color="inherit">
                                        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <span class="d-md-inline-block d-none">New Presentation</span>
                        </button>
                </div>
                <div class="new-Q">
                  <button data-toggle="modal" data-target="#createNewPresentation"
                      class="btn btn-q  px-3 d-inline mr-2">
                      <span class="align-text-bottom mr-2">
                          <svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet"
                              width="16" height="16" aria-labelledby="descriptive-:r21:" viewBox="0 0 24 24">
                              <title id="descriptive-:r21:">New</title>
                              <g color="inherit">
                                  <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round">
                                      <line x1="12" y1="5" x2="12" y2="19"></line>
                                      <line x1="5" y1="12" x2="19" y2="12"></line>
                                  </g>
                              </g>
                          </svg>
                      </span>
                      <span class="d-md-inline-block d-none">New folder</span>
                  </button>
          </div>
        <div class="right-d">
                <input type="text" placeholder="Type to search" class="search"/>
                <a class="search-button1">
                  <img class="searchicon1" src="assets/Icon/search.svg">
                </a>
                <a class="search-button" >
                    <img class="searchicon" src="assets/Icon/close.svg">
                </a>
                
        </div>
    </div>
  </div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 p-re">
                <button data-toggle="modal" data-target="#createNewPresentation"
                    class="btn btn-k text-white px-3 d-inline  w-100" style="text-wrap: nowrap;">
                    <span class="align-text-bottom mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet"
                            width="16" height="16" aria-labelledby="descriptive-:r21:" viewBox="0 0 24 24">
                            <title id="descriptive-:r21:">New</title>
                            <g color="inherit">
                                <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </g>
                            </g>
                        </svg>
                    </span>
                    <span class="d-md-inline-block d-none">New Presentation</span>
                    <span class="d-md-none d-inline-block">Presentation</span>
                </button>
        </div>
        <div class="col-sm-3 col-md-3 p-re">
            <!-- <div class="new-Q">
                <button data-toggle="modal" data-target="#createNewPresentation"
                    class="btn btn-q  px-3 d-inline  w-100">
                    <span class="align-text-bottom mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet"
                            width="16" height="16" aria-labelledby="descriptive-:r21:" viewBox="0 0 24 24">
                            <title id="descriptive-:r21:">New</title>
                            <g color="inherit">
                                <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </g>
                            </g>
                        </svg>
                    </span>
                    <span class="d-md-inline-block d-none">New folder</span>
                    <span class="d-md-none d-inline-block">folder</span>
                </button>
        </div> -->
        </div>
        <div class=" col-sm-6 col-md-6 tp-search p-re wp-100 px-0 mb-sm-0 mb-2">
            <div class="search-sec">
                <a class="search-button1 ">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet" width="16" height="16" aria-label="Search" viewBox="0 0 24 24"><g color="#101834"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></g></g></svg>
                </a>
                <input type="text" placeholder="Type to search" [(ngModel)]="searchTerm"  class="search wp-100" style="padding-left: 40px;"/>
                <a class="search-button" (click)="clearSearch()">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet" width="16" height="16" aria-label="Close" viewBox="0 0 24 24"><g color="#101834"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></g></g></svg>
                </a>
            </div>
        </div>   
    </div>
</div>

  <!-- <div class="grid">
  <button title="Grid view" disabled="" class="Grid-view"><svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet" width="20" height="20" aria-label="Grid layout" viewBox="0 0 24 24"><g color="#6f6e6e"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 2.5C2 2.22386 2.22386 2 2.5 2H9.5C9.77614 2 10 2.22386 10 2.5V9.5C10 9.77614 9.77614 10 9.5 10H2.5C2.22386 10 2 9.77614 2 9.5V2.5Z"></path><path d="M14 2.5C14 2.22386 14.2239 2 14.5 2H21.5C21.7761 2 22 2.22386 22 2.5V9.5C22 9.77614 21.7761 10 21.5 10H14.5C14.2239 10 14 9.77614 14 9.5V2.5Z"></path><path d="M2 14.5C2 14.2239 2.22386 14 2.5 14H9.5C9.77614 14 10 14.2239 10 14.5V21.5C10 21.7761 9.77614 22 9.5 22H2.5C2.22386 22 2 21.7761 2 21.5V14.5Z"></path><path d="M14 14.5C14 14.2239 14.2239 14 14.5 14H21.5C21.7761 14 22 14.2239 22 14.5V21.5C22 21.7761 21.7761 22 21.5 22H14.5C14.2239 22 14 21.7761 14 21.5V14.5Z"></path></g></g></svg></button>
  <button title="Table view" class="Table-view"><svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet" width="20" height="20" aria-label="Menu" viewBox="0 0 24 24"><g color="#101834"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></g></g></svg></button>
</div> -->

<div class="p-text">
    <div class="c-text">
        <p>Presentations</p>
    </div>
    <div class="t-text">
        <p>Last modified</p>
        <img src="assets/Icon/dropdown.svg" class="svg-icon">
    </div>
</div>

<div class="container-fluid main-d">
    <div class="row scroll">
        <div class="main">
            <div class="container-d">
                <img src="assets\images\image-two.jpg" class="re-img">
                <div class="main-content">
                <div class="Present-n">
                    <p class="p-name">Politics</p>
                    <p class="p-time">Edited 1 hours ago</p>
                </div>
                <!-- <div class="Viewmore">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet" class="svgi" width="28" height="28" aria-label="More" viewBox="0 0 24 24"><g color="#101834"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></g></g></svg>
                </div> -->
            </div>
        </div>
            <div class="container-d">
                <img src="assets\images\image-two.jpg" class="re-img">
                <div class="main-content">
                <div class="Present-n">
                    <p class="p-name">Sports</p>
                    <p class="p-time">Edited 3 hours ago</p>
                </div>
                <!-- <div class="Viewmore">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet" class="svgi" width="28" height="28" aria-label="More" viewBox="0 0 24 24"><g color="#101834"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></g></g></svg>
                </div> -->
             </div>
        </div>
            <div class="container-d">
                <img src="assets\images\image-two.jpg" class="re-img">
                <div class="main-content">
                <div class="Present-n">
                    <p class="p-name">Holiday</p>
                    <p class="p-time">Edited 9 hours ago</p>
                </div>
                <!-- <div class="Viewmore">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet" class="svgi" width="28" height="28" aria-label="More" viewBox="0 0 24 24"><g color="#101834"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></g></g></svg>
                </div> -->
                </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="modal fade" id="createNewPresentation" tabindex="-1" aria-labelledby="createNewPresentationLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createNewPresentationLabel">Create new presentation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="CancelPresentation()"> &times; </button>
                </div>
                <form name="newPresentation" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="modal-body px-5">
    
                        <div class="form-group">
                            <label for="slideName" class="col-form-label">
                                Enter presentation name
                            </label>
                            <input type="text" class="form-control w-100 border-0 rounded-0" id="slideName"
                                formControlName="presentationName" #presentationname maxlength="100"
                                [ngClass]="{ 'is-invalid': submitted && f['presentationName'].errors }">
                            <div *ngIf="submitted && f['presentationName'].errors" class="invalid-feedback">
                                <div *ngIf="f['presentationName'].errors['required']">Name required</div>
    
                            </div>
                            <span class="remaning">{{100 - presentationname.value.length}}</span>
                        </div>
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn outline-primary rounded-0" data-dismiss="modal"
                            (click)="CancelPresentation()">Cancel</button>
                        <button type="submit" class="btn btn-confirm-main text-white">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                *ngIf="isLoading"></span>
                            Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>