@import '/src/assets/variablesScss/SettingVariables.scss';
@import '/src/assets/variablesScss/varaiabledecalaration.scss';


.home {
  display: flex;
}

.Menu {
  width: 22%;
  position: relative;
}

.Content {
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 72px;
  
  &.integration-medium-zoom {
    top: 0px;
  }
}

.responsive-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.px-py-user-profile {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.mv-popup {
  position: absolute !important;
  left: 0;
  top: 0;
  transform: translate3d(0, -50%, 0);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: none;
  border-radius: 100px;
  width: 100%;
  z-index: 0 !important; /* Set a higher z-index for the popup */
}

.mv-popup:after {
  content: "";
  width: 15px;
  height: 15px;
  transform: rotate(-135deg);
  background: #fff;
  position: absolute;
  // box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
  border-right: 1px solid #dadaff; /* Add border to the top of the popup */
  border-bottom: 1px solid #dadaff; 
  // box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  z-index: -1;
  bottom: -7px;
  left: calc(84% - 0px);
}

.dropdown-menu {
  position: absolute !important;
  top: 10px !important;
  background: #fff;
  box-shadow: rgba(72, 72, 255, 0.15) 6px 6px 6px 0px;
  border: 1px solid #dadaff;
  z-index: 1001 !important; /* Set an even higher z-index for the dropdown-menu */
  width: 200px;
  right: 13px;
}

.header-hide {
  box-shadow: 0 1px 0 0px rgb(240, 240, 240);
  padding: 15px !important;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  z-index: 999;
  background-color: #2d72bc;
  transition: right 0.6s ease;
  padding-top: 30px;
}

.sidebar.open {
  right: 0;
}
.form-container {
  width: 80%;
}

.main-d {
  display: flex;
}

.searchicon {
  height: 20px;

}

.btn-close {
  background: none;
  border: none;
}

.btn-sidebar {
  background: none;
  border: none;
}

.slidea-menu {
  margin: 0px 0px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 4px #bebebe26;
}

.responsive li {
  list-style-type: none;
  padding-top: 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

a:hover {
  color: rgb(0 255 255 / 84%);
}

.Main-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.default-home {
  padding-left: 34px;
  cursor: pointer;
}
.sidebarlist li{
  margin-bottom: 15px;
}
.WORKSPACE {
  margin-bottom: 6px;
  padding-left: 40px;
  padding-top: 25px;
  color: white;
  font-size: 15px;
  font-weight: 300;
}

.PRIVATE {
  margin-bottom: 6px;
  padding-left: 40px;
  padding-top: 25px;
  color: white;
  font-size: 15px;
  font-weight: 300;
}
.responsive li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 400;
}

a:active {
  color: blue;
}

.btn-c {
  position: absolute;
  right: 4px;
  top: 0;
}

nav {
  position: absolute;
  width: 100%;
  right: -100%;
  top: 70px;
  width: 100%;
  background: #fff;
  padding: 30px;
  transition: 0.3s;
}

.primary-navbar--dropdown--arrow1 {
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 0 0.375rem 0.375rem;
  top: -6px;
  height: 0;
  left: 80%;
  position: absolute;
  transform: translateX(-50%) translateZ(0);
  width: 0;
}

.mob-arrow {
  left: 60% !important;
}

.dropdown-item1 {
  padding: 0px 10px;
  user-select: none;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

//  User Profile Image
@mixin object-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$circleSize: 43px;
$radius: 100px;
$shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
$fontColor: rgb(250, 250, 250);

.profile-pic {
  color: transparent;
  transition: all .3s ease;
  @include object-center;
  position: relative;
  transition: all .3s ease;

  input {
    display: none;
  }

  img {
    position: absolute;
    object-fit: cover;
    width: $circleSize;
    height: $circleSize;
    box-shadow: $shadow;
    border-radius: $radius;
    z-index: 0;
  }
}

.search-box {
  padding: 10px, 24px, 10px, 24px;
}

.custom-shadow {
  box-shadow: 0px 4px 4px 0px $box-shadow;
}

.header-input {
  border: 1px #CACACA;
  border-radius: 58px !important;
  font-size: 14px;
  box-shadow: 0px 0px 4px 0px #0000001A;
}

.upgrade {
  font-size: 14px;
  border-radius: 58px;
  border: 1px solid #F4980A;
  padding: 10px 20px;
  background-color: transparent;
  color: #F4980A;
  font-size: 16px;
  cursor: pointer;
}

.upgrade:hover {
  background-color: orange;
  color: white;
}
.upgrade:hover .upgrade-icon path {
  fill: $button-hover-whitecolor; 
}
.user-profile-icon{
  width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;
}
.btn:hover::after {
  content: attr(title);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #343434;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1;
}










.presentation{
  display: flex;
  // column-gap: 20px;
}
.btn-p{
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
}
.ppt-d{
  margin-bottom: 15px;
}
.ppt{
  width: 30%;
}
.gs{
  width: 30%;
}
.emp{
  width: 30%;
}
.conferencing{
  display: flex;
  column-gap: 20px;
}
.zoom-d{
  margin-bottom: 15px;
}
.zoom{
  width: 30%;
}
h5{
  font-weight: 400;
}
.top-d{
  margin-top: 20px;
}
.bottom-d{
  margin-top: 50px;
}
.request{
  display: flex;
  justify-content: end;
  margin-top: 40px;
  margin-right: 31px;
}
.mr-left{
  margin-left: 10px;
} 
.box-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.box {
  margin: 10px;
  border: 0.5px solid #E8E8EB;
  border-radius: 5px;
  background-color: #F9F9F9;
  cursor: pointer;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the popup is on top */
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 765px;
  max-width: 90%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.popup-header button {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
}

.popup-content {
  margin-top: 20px;
  color: #333;
  overflow-y: auto;
}
.boxes{
  background-color: #D9D9D9;
  height: 300px;
  width: 730px;
  border-radius: 1px;
}
.invite{
  border-radius: 50px;
  padding: 5px 15px 5px 15px;
  margin: 15px 0px 0px 0px;
}
.cancel{
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
  margin: 15px 15px 0px 0px;
}
.paragraph{
  padding-top: 15px;
}
@media only screen and (max-width: 600px) {
  .box-container {
      flex-direction: column;
      align-items: stretch;
      padding-right: 20px;
  }

  .box {
      width: 100%;
  }

  .popup {
      width: 90%;
      height: auto;
      overflow-y: auto;
  }

  .popup-container {
      align-items: center;
      justify-content: center;
      overflow-y: auto;
  }

  .boxes {
      width: calc(100% - 0px); 
      margin: 20px 0;
      overflow-x: auto; 
      white-space: nowrap; 
  }

  .popup-content {
      flex-direction: column;
  }
}
.text-fs-size{
  font-size: $fs-14;
  color: $gray-600;
  font-weight: $fw-400;
}
.team-heading{
  font-size: $fs-17;
  color:$gray-700;
}
.Member{
  margin-top: 0em;
}
.m-9{
  margin-top: 6px;
}
.member-btn{
outline: none;
border: none;
}
.dropdown-menu li{
  cursor: pointer;
  padding: 0px 10px;
}
.dropdown-menu li a{
  cursor: pointer;
  color: #333;
}
.dropdown-menu li a:active{
background: none;
}
.dropdown-menu li  p{
font-size: 10px;
}

.editor-tag {
  cursor: text;
  font-size: 16px;
  padding: 5px 0px 0px 10px;
  background: white;
  width: 88%;
  

  & .tag-item {
    border-radius: 3px;
    font-size: 14px;
    display: inline-block;
    color: #515151;
    border: 1px solid #bdb8b8;
    padding-left: 5px;


    .remove-tag {
      padding-right: 5px;
      cursor: pointer;
    }
  }

  & .tag-item:not(:first-child) {
    margin-left: 5px;
  }

  & input {
    margin: 0;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}
.editor-tag input[type=text]{
  background-color: #fff;
  border: none !important;
  outline: none !important;
  box-shadow: none;
}
.editor-tag input[type=text]:hover{
  outline: none !important;
  border: none !important;
}

.editor-tag input[type=text]:focus{
  background-color: #fff;
  border: none !important;
  outline: none !important;
  box-shadow: none;
}
.disableds {
  cursor: not-allowed !important;
  opacity: 0.6;
}
.error-message{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: $fs-12;
  color: $red;
}
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.remaning-i{
  position: absolute;
  right: 32em;
  margin-top: 14px;
  font-size: 13px;
  color: #495057;
}
@media only screen and (max-width: 745.98px) {
    .input-d{
      width: 100% !important;
      padding-right: 0px !important;
    }
    .dropdown-menu{
      height: 200px !important;
    }
    .editor-tag {
      width: 70%;
      
      & .tag-item {
      margin-top: 6px;
      width: -webkit-fill-available;
      overflow: auto;
      scrollbar-width: thin;
    }
   }
}
  .invite-emailbox{
    border: 1px #cccccc solid;
    margin-top: -39px;
    border-radius: 5px;
    overflow: hidden;
  }
  .presentation-p{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-bottom: 0px;
  }
  .popub-drop{
    height: auto !important;
  }