<div class="container-fluid Main-d">
    <div class="arrow d-lg-none">
        <a class="text-decoration-none" routerLink="/app/integration/explore">
            <svg  xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet"
                width="1.25rem" height="1.25rem" aria-labelledby="descriptive-:r0:" viewBox="0 0 24 24">
                <g color="#101834">
                    <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                    </g>
                </g>
            </svg>
        </a>
    </div>
    <div class="top-d">
        <h5>PowerPoint Add-in</h5>
        <p class="integration-p">No more need to switch apps and screens. Create, edit and present your Slidea directly in PowerPoint.
        </p>
    </div>
    <div class=" col center-d">
        <img src="assets/images/ppt.png" alt="Zoom Page Image" class="wt-100" style="width: 65%; cursor: pointer;">
    </div>
    <!-- <div class="col bottom-btn">
        <a href="https://zoom.us/oauth/authorize?client_id=_9q9JL7dRhKtZTfpA9WWwA&response_type=code&redirect_uri=https%3A%2F%2Fdevpresapi.slidone.com%2Fapi%2Fv1%2Fzoomoauth" target="_blank" class="btn btn-primary">Get it now</a>
    </div> -->
</div>