<section class="payment-success-section">
    <div class="payment-scs-header">
        <a href="app/home" class="payment-scs-csc">
            <svg class="payment-scs-svg" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_5560_251430" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
                <rect width="20" height="20" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_5560_251430)">
                <path d="M6.51953 10.832L11.1862 15.4987L9.9987 16.6654L3.33203 9.9987L9.9987 3.33203L11.1862 4.4987L6.51953 9.16536H16.6654V10.832H6.51953Z" fill="#999999"/>
                </g>
            </svg>
            <div class="payment-scs-txt">Back to home</div>
        </a>
    </div>
    <div class="payment-container-section">
        <div class="payment-container-csc">
            <div class="payment-rltd-txt">Thank You!!!</div>
            <div class="payment-img-section">
                <div class="payment-img-bgclr"></div>
                <img class="payment-img" height="124" width="168" src="assets/images/payment-failure.svg" alt="payment-image">
            </div>
            <div class="payment-about-txt">Payment Failed!!!</div>
            <div class="payment-about-dsc">Your payment was Failed! you can now Retry using</div>
            <a href="app/myplan" class="payment-btn">Retry</a>
        </div>
    </div>
</section>
