<ng-container *ngIf="UsersFound ; else NoUserFound">
    <!-- <div id="LeaderBoard_charts" class="center-panel-chart"></div> -->
    <div class="leaderboard-center-full">
        <div class="leaderboard-center">
            <ng-container *ngIf="workSpaceService.leaderBoardState == QuizPresenterScreenManageConstant.QUIZ_SCORE">
                <div class="leaderboard-result-other-winner-section">
                    <div class="leaderboard-result-other-inner-section" [ngStyle]="{'height':this.workSpaceService.presentationMode? '500px' : '300px'}">
                        <ng-container *ngIf="topThreePlayers.length >0">
                            <div *ngFor="let player of topThreePlayers;let i=index">
                                <div class="leaderboard-result-participation-section">
                                    <div class="other-rank-section">
                                        <div class="leaderboard-rank">
                                            <div class="player-rank-section">
                                                <img *ngIf="i==0" src="/assets/new-icons/leaderboard/leaderboard-win-1.svg" width="36" height="36">
                                                <img *ngIf="i==1" src="/assets/new-icons/leaderboard/leaderboard-win-2.svg" width="36" height="36">
                                                <img *ngIf="i==2" src="/assets/new-icons/leaderboard/leaderboard-win-3.svg" width="36" height="36">
                                            </div>
                                            <div class="player-name-img-section">
                                                <div class="player-name-img-inner">
                                                    <span class="emoji-user">{{player.playerImageURL}}</span>
                                                    <img class="img-other-rank" src="/assets/new-icons/leaderboard/leaderboard_emoji_bg.png" width="50" height="50">
                                                </div>
                                                <div class="player-name-img-text">
                                                    <span>{{player.playerName}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="player-points-section">
                                            <span class="">{{player.score}}p</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="leaderboardPlayers.length >0">
                            <div *ngFor="let player of leaderboardPlayers;let i=index">
                                <div class="leaderboard-result-participation-section">
                                    <div class="other-rank-section">
                                        <div class="leaderboard-rank">
                                            <ng-container *ngIf="(topThreePlayers[0]?.score || leaderboardPlayers[0]?.score) > 0">
                                                <div class="player-rank-section">
                                                    <span>{{player.score>0?topThreePlayers.length+i+1:'#'}}</span>
                                                </div>
                                            </ng-container>
                                            <div class="player-name-img-section">
                                                <div class="player-name-img-inner">
                                                    <span class="emoji-user">{{player.playerImageURL}}</span>
                                                    <img class="img-other-rank" src="/assets/new-icons/leaderboard/leaderboard_emoji_bg.png" width="50" height="50">
                                                </div>
                                                <div class="player-name-img-text">
                                                    <span>{{player.playerName}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="player-points-section">
                                            <span class="">{{player.score}}p</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
<ng-template #NoUserFound>
    <div class="noplayers">
        <h2>No results yet</h2>
    <p>The scoreboard is waiting! No votes have been cast so far.</p>
    </div>
</ng-template>