<div class="Main-d">
    <div class="Top-g">
        <div class="content"><p>Get to know Slidea</p></div>
        <div class="border-s"></div>
        <div class="arrow md-none">
            <button class="btn-tab leftside-icon" (click)="scroll('left')" style=" margin: -13px;"><svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet" width="20" height="20" aria-label="Back" viewBox="0 0 24 24"><g color="#101834"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></g></g></svg></button>
            <button class="btn-tab rightside-icon" (click)="scroll('right')"><svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet" width="20" height="20" aria-label="Forward" viewBox="0 0 24 24"><g color="#101834"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></g></g></svg></button>
        </div>
    </div>

    <div class="Center-g" id="content">
        <div class="guide">
            <div class="icon">
                <img src="assets/Icon/tick.svg" class="svg-i">
            </div>
            <div class="word">
                <p class="text"> Using Slidea with other tools</p>
                <p class="t-min">2 min watch</p>
                </div>
        </div>
        <div class="guide">
            <div class="icon">
                <img src="assets/Icon/tick.svg" class="svg-i" >
            </div>
            <div class="word">
                <p class="text"> Learn more Slidea Academy</p>
                <p class="t-min">5 min watch</p>
                </div>
        </div>
        <div class="guide">
            <div class="icon">
                <img src="assets/Icon/tick.svg" class="svg-i" >
            </div>
            <div class="word">
                <p class="text"> How participants join</p>
                <p class="t-min">4 min watch</p>
           </div>
        </div>
        <div class="guide">
            <div class="icon">
                <img src="assets/Icon/tick.svg" class="svg-i">
            </div>
            <div class="word">
                <p class="text">How to present</p>
                <p class="t-min">2 min watch</p>
               </div>
        </div>
        <div class="guide">
            <div class="icon">
                <img src="assets/Icon/tick.svg" class="svg-i">
            </div>
            <div class="word">
                <p class="text">Creating your first Menti</p>
                <p class="t-min">7 min watch</p>
               </div>
        </div>
        <div class="guide">
            <div class="icon">
                <img src="assets/Icon/tick.svg" class="svg-i">
            </div>
            <div class="word">
                <p class="text">Popular features</p>
                <p class="t-min">5 min watch</p>
               </div>
        </div>

    </div>
</div>