.Main-d{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
   }
   .Top-g{
       display: flex;
       padding: 0px 18px 0px 0px;
   }
   
   .border-s{
       width: 8em;
       height: 6px;
       background-color: rgb(9 214 145);
       border-radius: 10px;
       margin-top: 10px;
       margin-left: 13px;
   }
   .arrow{
       justify-content: flex-end;
       flex: 1 1 0%;
       flex-direction: row;
       position: relative;
       display: flex;
   }
   .btn-tab{
       background-color: transparent;
       border: none;
   }
   .Center-g{
       display: flex;
       margin-left: -10px;
       overflow-x: hidden;
       width: 100%;
   }
   .Center-g::-webkit-scrollbar {
       display: none;
   }
   .guide{
       display: flex;
       background-color: rgb(204, 248, 233);
       /* width: 25%; */
       margin: 10px;
       height: 80px;
       border-radius: 10px;
   }
   .svg-i{
       width: 50px;
       padding-top: 10px;
   }
   .text{
       padding-top: 19px;
       font-size: 14px;
       margin-bottom: 5px;
   }
   .t-min{
       font-size: 12px;
   }
   .word{
       text-wrap: nowrap;
       padding: 0px 17px 0px 17px;
   }
   .icon{
       padding-left: 10px;
   }
   .content{
       text-wrap: nowrap;
   }