<div class="main-container" *ngIf="presentationMode; else contentTemplate">
  <div class="traffic-lights-wrapper">
     <div class="traffic-light-container">
        <div class="traffic-light-svg">
           <svg xmlns="http://www.w3.org/2000/svg" width="200" height="380" viewBox="0 0 106 224" fill="none">
              <path d="M80 10H105V23.5803L90.5245 65H80V15Z" fill="#696969" stroke="black" stroke-width="2"/>
              <path d="M80 86H105V95.5803L90.5245 140H80V87Z" fill="#696969" stroke="black" stroke-width="2"/>
              <path d="M80 161H105V167.58L90.5245 215H80V159Z" fill="#696969" stroke="black" stroke-width="2"/>
              <path d="M6.83333 1H75.1667C78.2764 1 81 3.89211 81 7.72414V216.276C81 220.108 78.2764 223 75.1667 223H6.83333C3.72359 223 1 220.108 1 216.276V7.72414C1 3.89211 3.72359 1 6.83333 1Z" fill="#696969" stroke="black" stroke-width="2"/>
              <g>
                 <circle cx="42" cy="40" r="23" class=" red-bg" fill="#FF1A1A" 
                    [ngClass]="{'bright': isCorrectOption(0), 'shadow-blink-red': blinkingIndex === 0}" 
                    stroke="black" stroke-width="2"/>
                 <text x="42" y="45" text-anchor="middle" fill="white" [style.font-size]="presentationMode ? '14px' : '12px'">
                    <tspan *ngIf="!_workspaceservice?.slideResponseAsPercentage">{{_workspaceservice?.slideShowInResults ? trafficLightOptions[0]?.value : '0'}}</tspan>
                    <tspan *ngIf="_workspaceservice?.slideResponseAsPercentage && !_workspaceservice?.slideShowInResults">0%</tspan>
                    <tspan *ngIf="_workspaceservice?.slideResponseAsPercentage && _workspaceservice?.slideShowInResults">{{(optionValueInPercentage * _workspaceservice?.options[0]?.value) | number: '1.0-0'}}%</tspan>
                 </text>
              </g>
              <g>
                 <circle cx="42" cy="115" r="23" class="yellow-bg" fill="#F7CD05" 
                    [ngClass]="{'bright': isCorrectOption(1), 'shadow-blink-yellow': blinkingIndex === 1}" 
                    stroke="black" stroke-width="2"/>
                 <text x="42" y="120" text-anchor="middle" fill="black" [style.font-size]="presentationMode ? '14px' : '12px'">
                    <tspan *ngIf="!_workspaceservice?.slideResponseAsPercentage">{{_workspaceservice?.slideShowInResults ? trafficLightOptions[1]?.value : '0'}}</tspan>
                    <tspan *ngIf="_workspaceservice?.slideResponseAsPercentage && !_workspaceservice?.slideShowInResults">0%</tspan>
                    <tspan *ngIf="_workspaceservice?.slideResponseAsPercentage && _workspaceservice?.slideShowInResults">{{(optionValueInPercentage * _workspaceservice?.options[1]?.value) | number: '1.0-0'}}%</tspan>
                 </text>
              </g>
              <g>
                 <circle cx="42" cy="190" r="23" class="green-bg" fill="#00D941" 
                    [ngClass]="{'bright': isCorrectOption(2), 'shadow-blink-green': blinkingIndex === 2}" 
                    stroke="black" stroke-width="2"/>
                 <text x="42" y="195" text-anchor="middle" fill="black" [style.font-size]="presentationMode ? '14px' : '12px'">
                    <tspan *ngIf="!_workspaceservice?.slideResponseAsPercentage">{{_workspaceservice?.slideShowInResults ? trafficLightOptions[2]?.value : '0'}}</tspan>
                    <tspan *ngIf="_workspaceservice?.slideResponseAsPercentage && !_workspaceservice?.slideShowInResults">0%</tspan>
                    <tspan *ngIf="_workspaceservice?.slideResponseAsPercentage && _workspaceservice?.slideShowInResults">{{(optionValueInPercentage * _workspaceservice?.options[2]?.value) | number: '1.0-0'}}%</tspan>
                 </text>
              </g>
           </svg>
        </div>
     </div>
     <div class="labels-container">
        <label for="" class="container option-text-box text-wrap-anywhere traffic-light-cnt1 cursor-pointer traffic-light-cnt"
        [ngClass]="_workspaceservice?.slideShowInResults && getMaxIndex() === 0 ? 'red-bg' : ''">
        <p class="mb-0 traffic-light-name" [style.line-height]="presentationMode ? '30px' : '12px'"
        [style.font-size]="calculateFontSize(trafficLightOptions[0]?.name)"
        [style.color]="getMaxIndex() === 0 ? (_workspaceservice?.slideShowInResults ? 'white' : 'black') : contrastColor">{{trafficLightOptions[0]?.name}}</p>
        </label>
        <label for="" class="container option-text-box text-wrap-anywhere traffic-light-cnt2 cursor-pointer traffic-light-cnt"
        [ngClass]="_workspaceservice?.slideShowInResults && getMaxIndex() === 1 ? 'yellow-bg' : ''">
        <p class="mb-0 traffic-light-name" [style.line-height]="presentationMode ? '30px' : '12px'"
        [style.font-size]="calculateFontSize(trafficLightOptions[1]?.name)"
        [style.color]="contrastColor">{{trafficLightOptions[1]?.name}}</p>
        </label>
        <label for="" class="container option-text-box text-wrap-anywhere traffic-light-cnt3 cursor-pointer traffic-light-cnt"
        [ngClass]="_workspaceservice?.slideShowInResults && getMaxIndex() === 2 ? 'green-bg' : ''">
        <p class="mb-0 traffic-light-name" [style.line-height]="presentationMode ? '30px' : '12px'"
        [style.font-size]="calculateFontSize(trafficLightOptions[2]?.name)"
        [style.color]="contrastColor">{{trafficLightOptions[2]?.name}}</p>
        </label>
     </div>
  </div>
</div>
<ng-template #contentTemplate>
   <div class="main-container">
      <div class="content-page-traffic-lights-wrapper">
         <div class="traffic-light-container">
            <div class="traffic-light-svg">
               <svg xmlns="http://www.w3.org/2000/svg" width="200" height="260" viewBox="0 0 106 224" fill="none">
                  <path d="M80 10H105V23.5803L90.5245 65H80V15Z" fill="#696969" stroke="black" stroke-width="2"/>
                  <path d="M80 86H105V95.5803L90.5245 140H80V87Z" fill="#696969" stroke="black" stroke-width="2"/>
                  <path d="M80 161H105V167.58L90.5245 215H80V159Z" fill="#696969" stroke="black" stroke-width="2"/>
                  <path d="M6.83333 1H75.1667C78.2764 1 81 3.89211 81 7.72414V216.276C81 220.108 78.2764 223 75.1667 223H6.83333C3.72359 223 1 220.108 1 216.276V7.72414C1 3.89211 3.72359 1 6.83333 1Z" fill="#696969" stroke="black" stroke-width="2"/>
                  <g>
                     <circle cx="42" cy="40" r="23" class="red-bg" fill="#FF1A1A" 
                        [ngClass]="{'bright': isCorrectOption(0), 'shadow-blink-red': blinkingIndex === 0}" 
                        stroke="black" stroke-width="2"/>
                     <text x="42" y="45" text-anchor="middle" fill="white" [style.font-size]="presentationMode ? '14px' : '12px'">
                        <tspan *ngIf="!_workspaceservice?.slideResponseAsPercentage">{{_workspaceservice?.slideShowInResults ? trafficLightOptions[0]?.value : '0'}}</tspan>
                        <tspan *ngIf="_workspaceservice?.slideResponseAsPercentage && !_workspaceservice?.slideShowInResults">0%</tspan>
                        <tspan *ngIf="_workspaceservice?.slideResponseAsPercentage && _workspaceservice?.slideShowInResults">{{(optionValueInPercentage * _workspaceservice?.options[0]?.value) | number: '1.0-0'}}%</tspan>
                     </text>
                  </g>
                  <g>
                     <circle cx="42" cy="115" r="23" class="yellow-bg" fill="#F7CD05" 
                        [ngClass]="{'bright': isCorrectOption(1), 'shadow-blink-yellow': blinkingIndex === 1}" 
                        stroke="black" stroke-width="2"/>
                     <text x="42" y="120" text-anchor="middle" fill="black" [style.font-size]="presentationMode ? '14px' : '12px'">
                        <tspan *ngIf="!_workspaceservice?.slideResponseAsPercentage">{{_workspaceservice?.slideShowInResults ? trafficLightOptions[1]?.value : '0'}}</tspan>
                        <tspan *ngIf="_workspaceservice?.slideResponseAsPercentage && !_workspaceservice?.slideShowInResults">0%</tspan>
                        <tspan *ngIf="_workspaceservice?.slideResponseAsPercentage && _workspaceservice?.slideShowInResults">{{(optionValueInPercentage * _workspaceservice?.options[1]?.value) | number: '1.0-0'}}%</tspan>
                     </text>
                  </g>
                  <g>
                     <circle cx="42" cy="190" r="23" class="green-bg" fill="#00D941" 
                        [ngClass]="{'bright': isCorrectOption(2), 'shadow-blink-green': blinkingIndex === 2}" 
                        stroke="black" stroke-width="2"/>
                     <text x="42" y="195" text-anchor="middle" fill="black" [style.font-size]="presentationMode ? '14px' : '12px'">
                        <tspan *ngIf="!_workspaceservice?.slideResponseAsPercentage">{{_workspaceservice?.slideShowInResults ? trafficLightOptions[2]?.value : '0'}}</tspan>
                        <tspan *ngIf="_workspaceservice?.slideResponseAsPercentage && !_workspaceservice?.slideShowInResults">0%</tspan>
                        <tspan *ngIf="_workspaceservice?.slideResponseAsPercentage && _workspaceservice?.slideShowInResults">{{(optionValueInPercentage * _workspaceservice?.options[2]?.value) | number: '1.0-0'}}%</tspan>
                     </text>
                  </g>
               </svg>
            </div>
         </div>
         <div class="content-page-labels-container">
            <label for="" class="container content-page-option-text-box text-wrap-anywhere cotent-page-traffic-light-label1 cursor-pointer content-page-traffic-light-cnt"
            [ngClass]="_workspaceservice?.slideShowInResults && getMaxIndex() === 0 ? 'red-bg' : ''">
            <p class="mb-0 traffic-light-name" [style.line-height]="presentationMode ? '24px' : '17px'"
            [style.font-size]="calculateFontSize(trafficLightOptions[0]?.name)"
            [style.color]="getMaxIndex() === 0 ? (_workspaceservice?.slideShowInResults ? 'white' : 'black') : contrastColor">{{trafficLightOptions[0]?.name}}</p>
            </label>
            <label for="" class="container content-page-option-text-box text-wrap-anywhere content-page-traffic-light-label2 cursor-pointer content-page-traffic-light-cnt"
            [ngClass]="_workspaceservice?.slideShowInResults && getMaxIndex() === 1 ? 'yellow-bg' : ''">
            <p class="mb-0 traffic-light-name" [style.line-height]="presentationMode ? '24px' : '17px'"
            [style.font-size]="calculateFontSize(trafficLightOptions[1]?.name)"
            [style.color]="contrastColor">{{trafficLightOptions[1]?.name}}</p>
            </label>
            <label for="" class="container content-page-option-text-box text-wrap-anywhere content-page-traffic-light-label3 cursor-pointer content-page-traffic-light-cnt"
            [ngClass]="_workspaceservice?.slideShowInResults && getMaxIndex() === 2 ? 'green-bg' : ''">
            <p class="mb-0 traffic-light-name" [style.line-height]="presentationMode ? '24px' : '17px'"
            [style.font-size]="calculateFontSize(trafficLightOptions[2]?.name)"
            [style.color]="contrastColor">{{trafficLightOptions[2]?.name}}</p>
            </label>
         </div>
      </div>
    </div>
</ng-template>