.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.h-55 {
  height: 50px;
  margin: 0 8px;
  display: flex;
  align-items: center;
}

.traffic-light-name {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
}

.circle-rounded {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bright {
  border: 3px solid orange;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.7);
}

.bright::after {
  content: 'Correct';
  color: black;
  font-weight: bold;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: yellow;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.7em;
}

.position-absolute {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.traffic-lights-wrapper {
  display: flex;
  align-items: center;

}
.content-page-traffic-lights-wrapper {
  display: flex;
  align-items: center;

}
.traffic-light-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
}

.labels-container {
  max-width: 650px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-page-labels-container{
  max-width: 425px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.traffic-light-label {
  display: flex;
  align-items: center;
  margin: 0 8px;
  flex-grow: 1;
}
.option-text-box {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 20px 23px;
  margin-bottom: 16px;
  background-color: #f8f9fa;
  width: 100%; 
  min-height: 90px;
}
.content-page-option-text-box{
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 20px 23px;
  margin-bottom: 16px;
  background-color: #f8f9fa;
  width: 100%; 
  min-height: 60px;
}
.traffic-light-cnt1{
  position: relative;
  right: 50px;
  top: -10px;
}
.traffic-light-cnt2{
  position: relative;
  right: 50px;
  top: 10px;
}
.traffic-light-cnt3{
  position: relative;
  right: 50px;
  top: 30px;
}
.cotent-page-traffic-light-label1{
  position: relative;
  right: 57px;
  top: 2px;
}
.content-page-traffic-light-label2{
  position: relative;
  right: 56px;
  top: 11px;
}
.content-page-traffic-light-label3{
  position: relative;
  right: 58px;
  top: 18px;
}
.traffic-light-cnt{
  margin-bottom: 19px;
    padding-left: 55px;
    padding-top: 0;
    padding-bottom: 0;
    height: 57px;
    display: flex;
    align-items: center;
    border: 1px solid var(--Storke-for-slide-type, #E8E8EB);
}
.content-page-traffic-light-cnt{
  margin-bottom: 19px;
    // padding-left: 55px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    border: 1px solid var(--Storke-for-slide-type, #E8E8EB);
}
.red-bg {
  background-color: #FF1A1A;
}

.yellow-bg {
  background-color: #F7CD05;
}

.green-bg {
  background-color: #00D941;
}
.shadow-blink-red {
  animation: shadow-blink-animation-red 0.5s steps(5, start) infinite;
}

@keyframes shadow-blink-animation-red {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 153, 153, 0.8)); 
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(255, 153, 153, 1));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 153, 153, 0.8));
  }
}

.shadow-blink-yellow {
  animation: shadow-blink-animation-yellow 0.5s steps(5, start) infinite;
}

@keyframes shadow-blink-animation-yellow {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 195, 41, 0.6));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(255, 195, 41, 1));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 195, 41, 0.6));
  }
}

.shadow-blink-green {
  animation: shadow-blink-animation-green 0.5s steps(5, start) infinite;
}

@keyframes shadow-blink-animation-green {
  0% {
    filter: drop-shadow(0 0 5px rgba(72, 255, 72, 0.6));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(72, 255, 72, 1));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(72, 255, 72, 0.6));
  }
}