@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$gray-100: #F8F9FA !default;
$gray-200: #F8F8F8 !default;
$gray-300: #DEDEDE !default;
$gray-400: #878787 !default;
$gray-500: #525252 !default;
$gray-600: #303030 !default;
$gray-700: #343434 !default;
$gray-800: #353535 !default;
$gray-900: #383838 !default;
$gray-dark: #282828 !default;
$blue: #4848FF !default;
$darkblue: #3232B2 !default;
$indigo:#6610f2 !default;
$purple:#6f42c1 !default;
$pink: #e83e8c !default;
$red: #FF1717 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #00BA00 !default;
$teal: #76d21a !default;
$cyan: #00c4c3 !default;
$white: #ffffff !default;
$black: #000000 !default;
$primary: $blue !default;
$secondary: $gray-100 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-400 !default;
$dark: $gray-800 !default;
$product-primary: $blue !default;
$product-dark-primary: $darkblue !default;
$product-dark-primary: $darkblue !default;
$product-secondary: $secondary !default;
$product-success: $green !default;
$product-info: $cyan !default;
$product-warning: $yellow !default;
$product-danger: $red !default;
$product-light: $gray-100 !default;
$product-after-light: $gray-100 !default;
$product-dark: $gray-800 !default;
$product-semi: $gray-800 !default;
// fonts family
$product-font-family: 'Lexend Deca', 'Roboto', sans-serif;
// font size
$fs-8: 8px;
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-28: 28px;
// font weight
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
// size-px
$sizepx-5: 5px;
$sizepx-10: 10px;
$sizepx-15: 15px;
$sizepx-20: 20px;
$sizepx-25: 25px;
$sizepx-30: 30px;
$product-boxshadow-round: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;