.gslides{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  height: 391px;
  width: 676px;
  pointer-events: none;
}
.frameborder{
  border: 6px solid #959494;
  border-radius: 2px;
  height: 316px;
  width: 545px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  transition: border-color 0.5s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gslidesmessage{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: max-content;
  font-size: 15px;
}
.iframe{
  height: 100%;
  width: 100%;
}
.iframe-top-message{
  display: flex;
  background-color: rgb(184, 250, 214);
  color: black;
  font-family: MentiText, Arial, sans-serif;
  height: 18px;
  bottom: 87.5%;
  left: 26%;
  position: absolute;
  border-radius: 1px;
  overflow: hidden;
  z-index: 2;
}
.tick-icon {
  margin-right: 4px;
  margin-left: 4px;
  position: relative;
  bottom: 5px;
}
.paragraph{
  font-size: 12px;
  margin-right: 6px;
}
.fullscreenframe {
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  overflow: hidden;
  width: 75%;
  height: 76%;
  transition: border-color 0.5s ease;
  z-index: 9;
}