.bg-color{
    background-color: #F8F9FA;
    height: 100%;
    width: 100%;
}
.center-d{
    border-radius: 20px;
}
.btn-bg{
    background-color: #4848FF;
    transition: 1s all ease;
}
.btn-bg:hover {
    background-color: #4848FF;
    transition: 1s all ease;
}