.Main-t{
    margin: 10px;
    }
.center-st{
    margin-top: 25px;
}
.svg-i{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-c{
    text-align: center;
    font-weight: 500;
    padding-top: 40px;
    font-size: 16px;
}
.content{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #4a4a4a;
}
.text{
    margin-top: 10px;
    font-weight: 400;
}