.center-panel-chart{
    width: 100%;
    height: 97%;
    position: absolute;
}
// #WordCloud {
//     width: 100%;
//     height: 100%;
//     position: relative; // Required for responsiveness
//     svg {
//       display: block; // Prevents inline spacing
//     }
//   }

.word-cloud-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.word-cloud {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep {
  .word-cloud svg {
    width: 100%;
    height: 100%;
  }
}
  