.integration-p{
    padding-right: 24em;
    color: #5f5e5e;
    font-size: 15px;
}
.bottom-btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: 6em;
}
.gs-img{
    width: 65%;
}
.arrow{
    margin-bottom: 20px;
}