<div class="bg-color" *ngIf="!resetcodeExpired">
  <div class="d-flex justify-content-between align-items-center header-section">
    <div class="text-start">
      <img  src="assets/images/product-logo.svg" width="120" height="38" alt="logo">
    </div>
    <div class="text-end">
      <button class="header-signin mw-width"><a href="javascript:void(0)" routerLink="/auth/signin">Sign In</a></button>
      <button class="header-signup mw-width"><a href="javascript:void(0)" routerLink="/auth/signup">Sign Up</a></button>
    </div>
  </div>
  <div class="container-fluid box-c d-flex">
    <div class="col-lg-7 center-d m-d-flex col-sm-10 col-12">
      <div class="col-md-6  forgot-left">
        <div class="forgot-content">
        <h1>Forgot password?</h1>
        <p class="f-size mw-width">Kindly store your credentials somewhere safe.</p>
      </div>
    </div>
    <div class="col-md-6 pa-0 forgot-right">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3 position-relative">
          <label for="passwordInput" class="fs-very-low fw-five">New Password*</label>
          <input [type]="passwordType" class="form-control w-100 border-0 rounded-0 fs-very-low-12" id="passwordInput" placeholder="Enter your new password" formControlName="NewPassword" [ngClass]="{ 'invalid': changePasswordForm.controls.NewPassword.touched && changePasswordForm.controls.NewPassword.errors }">
          <span class="validation-error fs-very-low-12" *ngIf="(submitted || changePasswordForm.controls.NewPassword.touched) && changePasswordForm.controls.NewPassword.errors?.required">Please fill in this field!</span>
          <span class="validation-error" *ngIf="(submitted || changePasswordForm.controls.NewPassword.touched) && changePasswordForm.controls.NewPassword.errors?.pattern">
            <ul class="validation-list">
              <li>Password must contain 8 characters</li>
              <li>Include at least one lowercase and one uppercase</li>
              <li>Include at least one numerical character and special character </li>
            </ul>
          </span>
          <span class="validation-error fs-very-low-12"  *ngIf="!(submitted || changePasswordForm.controls.NewPassword.touched) ">
            <div *ngIf="changePasswordForm.controls.NewPassword.errors?.pattern">
              <ul class="validation-list">
                <li>Password must contain 8 characters</li>
                <li>Include at least one lowercase and one uppercase</li>
                <li>Include at least one numerical character and special character </li>
              </ul>
            </div>
          </span>
        </div>
        <div class="form-group mb-3 position-relative">
          <label for="confirmPasswordInput" class="fs-very-low fw-five">Confirm Password*</label>
          <input [type]="passwordType" class="form-control w-100 border-0 rounded-0 fs-very-low-12 " id="confirmPasswordInput" placeholder="Enter your confirm password" formControlName="ConfirmPassword" [ngClass]="{ 'invalid':  changePasswordForm.controls.NewPassword.touched && changePasswordForm.controls.NewPassword.errors }">
            <span class="validation-error fs-very-low-12" *ngIf="!(submitted && changePasswordForm.value.NewPassword !== changePasswordForm.value.ConfirmPassword)">
              <div *ngIf="changePasswordForm.controls.ConfirmPassword.errors?.pattern">
                <ul class="validation-list">
                  <li>Password must contain 8 characters</li>
                  <li>Include at least one lowercase and one uppercase</li>
                  <li>Include at least one numerical character and special character </li>
                </ul>
              </div>
            </span>
            <span class="validation-error fs-very-low-12" *ngIf="submitted && changePasswordForm.value.NewPassword !== changePasswordForm.value.ConfirmPassword">Passwords do not match</span>
            <span class="validation-error fs-very-low-12"  *ngIf="!(submitted && changePasswordForm.value.NewPassword !== changePasswordForm.value.ConfirmPassword)" >
              <div *ngIf="(submitted || changePasswordForm.controls.ConfirmPassword.touched) && changePasswordForm.controls.ConfirmPassword.errors?.required"> Please fill in this field!</div>
            </span>
          </div>
          <button type="submit" class="btn w-100 border-0 text-white  mb-3 py-2 btn-bg fs-very-low">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>Reset Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<section *ngIf="resetcodeExpired">
  <div class="container">
      <div class="d-flex align-items-center justify-content-center mvh-100 h-100">
          <div class="col-lg-6 col-12 mx-auto px-md-5 px-0">
              <div class="uniform-box-shadow border-0">
                  <div class="text-center">
                      <h2 class="my-3 fw-seven fs-very-high">Reset Password</h2>
                  </div>
                  <div class="text-left">
                      <p class="">Activation Code Is Expired, Please Reset The Password Again!!</p>
                      <button type="submit" class="btn w-100 border-0 text-white btn-confirm-main mb-3 py-2" routerLink="/auth/forgetpassword">Reset Password</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>