<div [ngClass]="presentationMode?'emptyframe1':'emptyframe'" *ngIf="!importPPTLink || workSpaceService.invalidembedLink">
    <span for="Input" class="d-block">Add a valid PowerPoint embed code to import your presentation here.</span>
</div>

<div class="pptscreenframe" *ngIf="(importPPTLink || null) && !workSpaceService.invalidembedLink && !presentationMode">
    <div class="iframe-top-message">
        <div class="tick-icon">
            <svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet" width="10"
                height="10" aria-label="Checkmark" viewBox="0 0 24 24">
                <g color="#000000">
                    <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <polyline points="20 6 9 17 4 12"></polyline>
                    </g>
                </g>
            </svg>
        </div>
        <div class="paragraph">
            <p> This slide contains your whole PowerPoint presentation</p>
        </div>
    </div>
    <div class="frameoutline" [style.borderColor]="calculateBorderColor()">
        <iframe id="myIframe" [src]="sanitizedHtml" width="468vh" height="290vh" frameborder="1" allowfullscreen></iframe>
    </div>
</div>

<div class="fullscreenframe" *ngIf="(importPPTLink!= ''|| null) && !workSpaceService.invalidembedLink && presentationMode" [style.borderColor]="calculateBorderColor()">
    <iframe id="myIframe" [src]="sanitizedHtml" width="95%" height="95%" frameborder="1" allowfullscreen></iframe>
</div>