<div class="main-sec">
    <ng-container *ngIf="templateDetails!=null">
      <button class="static-toggle-btn" (click)="toggleHeader()">
        <svg *ngIf="!isHeaderCollapsed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 14L12 9L17 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg *ngIf="isHeaderCollapsed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 10L12 15L17 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <div class="template-header" [class.collapsed]="isHeaderCollapsed">
        <div class="template-name">
          <h2>{{ isPresentation ? templateDetails?.presentationName : templateDetails?.templateName}}</h2>
        </div>
      </div>
      <div class="preview-container">
        <app-slides-preview [isPresentation]="isPresentation" [slidesRenderingData]="templateDetails" [isAdminPreview]="true">
        </app-slides-preview>
      </div>
    </ng-container>
</div>
