<ng-container *ngIf="isPresenterEditorScreen == true">
    <div class="instruction-container d-flex justify-content-center h-100 align-items-center"> <!-- for smaller size -->
        <div class="container-fluid text-end small">
            <div class="d-flex align-items-center justify-content-center">
                <div class="instructions me-4">
                    <p class="fs-15 fw-five" [style.color]="ContrastColor === 'black' ? '#525252' : (ContrastColor === 'white' ? 'white' : ContrastColor)">Join at</p>
                    <p class="code fw-five fs-very-high">{{environmentDetails?.AudienceURL}}</p>
                    <p class="code fw-five">
                        <span class="hash-tag-text">#</span>{{template?.presentationAccess.code}}
                      </p>
                      <p class="fs-medium anchor-tag-color" (click)="copyToClipboard()"><img [src]="copied?'assets/images/copied.svg':'assets/new-icons/copy.svg'">{{url?.substring(8)}}</p>
                </div>
                <div class="d-flex justify-content-center flex-column">
                    <div class="divider"></div>
                    <span class="fs-medium or-text mt-2 mb-2" [style.color]="ContrastColor === 'black' ? '#525252' : (ContrastColor === 'white' ? 'white' : ContrastColor)">(or)</span>
                    <div class="divider"></div>
                </div>
                <div class="qr-code">
                    <img [src]="template?.presentationAccess?.qrCode" alt="QR Code">
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isPresenterEditorScreen == false">
    <div class="instruction-container large"> <!-- for larger size -->
        <div class="container-fluid text-end large">
            <div class="d-flex align-items-center justify-content-center">
                <div class="instructions-large me-3">
                    <p class="fs-very-medium fw-five" [style.color]="ContrastColor === 'black' ? '#525252' : (ContrastColor === 'white' ? 'white' : ContrastColor)">Join at</p>
                    <p class="fw-six code large remote">{{environmentDetails?.AudienceURL}}</p>
                    <p class="code large fw-five remote">
                        <span class="hash-tag-text large remote-hash">#</span>{{template?.presentationAccess.code}}
                      </p>
                      <p class="fs-medium anchor-tag-color" (click)="copyToClipboard()"><img [src]="copied?'assets/images/copied.svg':'assets/new-icons/copy.svg'">{{url?.substring(8)}}</p>
                </div>
                <div class="d-flex justify-content-center flex-column">
                    <div class="divider large"></div>
                    <span class="fs-medium or-text mt-2 mb-2" [style.color]="ContrastColor === 'black' ? '#525252' : (ContrastColor === 'white' ? 'white' : ContrastColor)">(or)</span>
                    <div class="divider large"></div>
                </div>
                <div class="qr-code large">
                    <img [src]="template?.presentationAccess?.qrCode" alt="QR Code">
                </div>
            </div>
        </div>
    </div>
</ng-container>