<div class="Main-int">
    <div class="Top-d d-flex align-items-center">
        <h4 class="mg-l">Integrations</h4>
        <div class="ms-auto">
            <!-- <input type="text" class="search-box" placeholder="Search presentation, folder, and pages"> -->
        </div>
    </div>
    <hr class="hrcolor">
    <div class="center-d">
        <div class="bottom-d">
            <!-- <div class="menu md-none">
                <ul>
                    <li><a [routerLink]="['/app/integration/explore']" routerLinkActive="active">Explore</a></li>
                    <li><a [routerLink]="['/app/integration/zoom']" routerLinkActive="active">Zoom</a></li>
                    <li><a [routerLink]="['/app/integration/powerpoint']" routerLinkActive="active">PowerPoint</a></li>
                    <li><a [routerLink]="['/app/integration/google-slides']" routerLinkActive="active">Google Slides</a></li>
                  </ul>  
            </div> -->
            <div class="content with-100">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>