<div class="modal-dialog modal-lg modal-dialog-centered" id="bg-preview">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="imageAddModalLabel">Crop image</h2>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeCurrentCropperImage()">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid meet"
                        width="2.25rem" height="2.25rem" aria-labelledby="descriptive-:r8h:" viewBox="0 0 24 24">
                        <title id="descriptive-:r8h:">Close</title>
                        <g color="#101834">
                            <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </g>
                        </g>
                    </svg>
                </span>
            </button>
        </div>
        <div class="modal-body d-done">
            <div class="image-upload-computer">
                <ng-container *ngIf="currentImageFormat=='svg' || currentImageFormat=='gif'">
                    <img class="svgimage" id="svgimage" [src]="currentOrginalImage" accept=".png,.svg,.jpeg,.jpg,.gif,.webp">
                    <ng-container *ngIf="currentImageFormat==='svg'">
                        <div class="crop-button">
                            <span>SVG images can't be cropped. The whole image will be used instead.</span>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="currentImageFormat==='gif'">
                        <div class="crop-button">
                            <span>GIF images can't be cropped. The whole image will be used instead.</span>
                        </div>
                    </ng-container>
                </ng-container>
                <image-cropper class="img-cropper"
                    [ngStyle]="{ 'visibility': isHideAndShowCropper ? 'visible' : 'hidden' }"
                    *ngIf="currentImageFormat!='svg' && currentImageFormat!='gif'"
                    [imageBase64]="currentCroppedImage"
                    [imageChangedEvent]="currentUploadedImageEvent"
                    [aspectRatio]="cropPositionWidthRatio / cropPositionHeightRatio"
                    [maintainAspectRatio]="cropperRatio" 
                    [cropper]="cropperPosition"
                    [hideResizeSquares]="hideResizeSquares"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    style="visibility: visible;">
                </image-cropper>
            </div>
        </div>
        <div class="crop-button" *ngIf="currentImageFormat!='svg' && currentImageFormat !='gif'">
            <button type="button" class="btn btn-crop mx-2"
                [ngClass]="ratioButtonType==settingVariable?.RatioPerfect?'active':''"
                (click)="perfectRatio()">Perfect</button>
            <button type="button" class="btn btn-crop mx-2"
                [ngClass]="ratioButtonType==settingVariable?.RatioFree?'active':''"
                (click)="freeSizeRatio()">Free-form</button>
            <button type="button" class="btn btn-crop mx-2"
                [ngClass]="ratioButtonType==settingVariable?.RatioSquare?'active':''"
                (click)="squareRatio()">Square</button>
        </div>
        <br>
        <div class="modal-footer" style="justify-content: space-between">
            <button type="button"
                class="btn btn-backtoupload text-white v ed ak i ai z aw ee ao ef bc dx eg df dg eh ei di dj ej cb ek bv w el an em en eo ep eq er es et au eu"
                (click)="backToUploadComponent()">
                <span aria-hidden="true" class="ao ez fe i ai z hy">
                    <svg xmIns="http://www.w3.org/2000/svg" role="img" preservespectRatio="xMidYMid meet" width="1rem"
                        height="1rem" aria-label="Arrow left" viewBox="0 0 24 24">
                        <g color="inherit">
                            <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <line x1="19" y1="12" x2="5" y2="12"></line>
                                <polyline points="12 19 5 12 12 5"></polyline>
                            </g>
                        </g>
                    </svg>
                </span>
                <span aria-hidden="false" class="ao ez fd fe i ai z" style="margin-top: -5px; padding-left: 1px;">Back
                    to upload</span>
            </button>
            <button type="button" class="btn btn-save text-white" (click)="saveCurrentCroppedImage()">Save</button>
        </div>
    </div>
</div>